dialog {
    border: none !important;
    border-radius: calc(5px * var(--ratio));
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 1.6rem;
    max-width: 400px;
    margin: auto;
  }
  
  dialog img {
    display: block;
    max-width: 75%;
    margin: 1rem 0 auto 2rem;
  }
  .flex {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex.flex-space-between {
    justify-content: space-between;
  }
  
  .flex button {
    margin: 8px auto;
  }