* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --vihrea: #013317;
  --valkoinen: #f5e1d1;
  --pinkki: #ffbba6;
  --oranssi: #e88522;
  --ratio: 3.74;
  --cta-color: rgb(0, 102, 254);
  --light-color-bg: rgb(238, 241, 247);
  --dark-color-bg: rgb(55, 65, 81);
  --grey-color: rgb(107, 114, 128);
  --leading: 0.025em;
}

body {
  background-color: var(--valkoinen);
  margin: auto;
  height: 100%;
  font-family: "DM Serif Display", serif;
}

main {
  background-color: var(--vihrea);
  margin: 200px auto;
  width: 90%;
  position: relative;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

nav {
  background-color: var(--vihrea);
  margin: auto;
  max-width: 90%;
  height: 6rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 1.5rem;
}

nav a {
  border-radius: 20px;
  letter-spacing: 1px;
  background-color: var(--valkoinen);
  color: var(--vihrea);
  float: right;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin: 5px;
  font-size: large;
}

nav a:hover {
  color: var(--valkoinen);
  background-color: var(--vihrea);
  /* box-shadow: inset 200px 0 0 0 var(--vihrea); */
}

nav a:active {
  color: var(--oranssi);
}

.chili {
  width: 200px;
  max-width: 250px;
  position: absolute;
  right: 0;
  top: -100px;
}

.info {
  padding: 2rem;
  overflow: auto;
}

.infoimg {
  float: left;
  width: 40%;
  max-width: fit-content;
  min-width: 100px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: auto;
  margin: 0px 20px 10px 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h1 {
  color: var(--pinkki);
  float: left;
  padding-left: 1rem;
  font-size: 40px;
  text-shadow: 2px 2px 5px var(--oranssi);
}

h2 {
  margin: 0 10px 10px 0;
  color: var(--valkoinen);
}

h3 {
  color: var(--valkoinen);
  margin: 0 10px 10px 0;
}

footer {
  text-align: center;
  padding: 2rem;
  bottom: 0;
  width: 100%;
}

p {
  color: var(--valkoinen);
}

button {
  display: block;
  margin-top: 2rem;
  width: calc(44px * var(--ratio));
  height: 44px;
  border-radius: calc(3px * var(--ratio));
  border: none;
  letter-spacing: ccalc(3 * var(--leading, 0.025em));
  font-family: inherit;
  color: var(--grey-color);
  background-color: var(--light-color-bg);
  font-size: large;
  font-weight: 700;
}

button:focus {
  outline: none;
  border: 0.0625rem solid transparent;
  box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.2rem var(--dark-color-bg);
}

button.cta {
  background-color: var(--cta-color);
  color: white;
}

button.cta:focus {
  box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.2rem var(--cta-color);
}

#open_dialog {
  margin: 0 auto;
}
