* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Jost";
  src: url("../Fonts/Jost-VariableFont_wght.ttf");
}

:root {
  --citron: #d5d287ff;
  --floral-white: #fef6ebff;
  --caribbean-current: #166665ff;
  --verdigris: #6ab7b1ff;
  --ebony: #5b684aff;
  --reseda-green: #65795dff;
  --sage: rgb(158, 170, 135);
  --vanilla: #d4d198ff;
  --snow: #fff6f7ff;
  --peach-yellow: #f4d99dff;
  --hunyadi-yellow: #f2b359ff;
  --coral: #e87e4cff;
  --tea-rose-red: rgb(252, 202, 201);
  --ut-orange: #fb8200ff;
  --xanthous: #f1bb41ff;
}

.icon {
  display: none;
}

body {
  background-color: var(--floral-white);
  margin: auto;
  height: 100%;
  font-family: "Jost";
  font-weight: 400;
  font-size: 1.5rem;
}

body:has(dialog[open]) {
  overflow-y: hidden;
}
.hero-image {
  background-image: url(../img/hero1.jpg);
  height: 300px;
  width: 90%;
  background-position: center;
  background-size: cover;
  display: flex;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.juomat {
  margin: auto;
  margin-top: 2rem;
  width: 60%;
  height: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 20px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.juomat img {
  height: 200px;
  max-width: 100%;
  height: auto;
  grid-row: 1 / span 2;
  border-radius: 30px;
}

.juomat h2 {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
  align-self: center;
  color: var(--ut-orange);
  font-family: "Lilita One", cursive;
  font-size: 3rem;
  margin: 0.5rem 1rem 1rem; /* Adjust the margin as needed */
}

.juomat ul {
  margin: auto;
  padding: 0;
  overflow: auto;
}

.juomat li:hover {
  cursor: pointer;
  color: var(--ut-orange);
}
main {
  background-color: var(--floral-white);
  margin: auto;
  margin-top: 2rem;
  width: 90%;
  position: relative;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

nav {
  background-color: var(--sage);
  margin: auto;
  max-width: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 1.5rem;
}

nav a {
  border-radius: 20px;
  letter-spacing: 1px;
  background-color: var(--peach-yellow);
  color: var(--reseda-green);
  float: right;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin: 5px;
}

nav a:hover {
  color: var(--xanthous);
  /* box-shadow: inset 200px 0 0 0 var(--vihrea); */
}

nav a:active {
  color: var(--oranssi);
}

.chili {
  width: 200px;
  max-width: 250px;
  position: absolute;
  right: 0;
  top: -100px;
  border-radius: 20px;
}
.fl {
  float: none;
}

.info {
  padding: 2rem;
  overflow: auto;
}

.infoimg {
  float: left;
  width: 40%;
  max-width: fit-content;
  min-width: 100px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: auto;
  margin: 0px 20px 10px 0;
  object-fit: cover;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

nav h1 {
  color: var(--ebony);
  float: left;
  font-family: "Lilita One", cursive;
  padding-left: 1rem;
  font-size: 4rem;
}

h2 {
  margin: 0 10px 10px 0;
  color: var(--ut-orange);
  font-family: "Lilita One", cursive;
  font-size: 3rem;
}

h3 {
  color: var(--xanthous);
  font-family: "Lilita One", cursive;
  margin: 0 10px 10px 0;
}

footer {
  text-align: center;
  padding: 2rem;
  bottom: 0;
  width: 100%;
}

p {
  color: var(--brown);
}

button {
  display: block;
  margin-top: 2rem;
  width: calc(44px * var(--ratio));
  height: 44px;
  border-radius: calc(3px * var(--ratio));
  border: none;
  letter-spacing: ccalc(3 * var(--leading, 0.025em));
  font-family: inherit;
  color: var(--grey-color);
  background-color: var(--light-color-bg);
  font-size: large;
  font-weight: 700;
}

button:focus {
  outline: none;
  border: 0.0625rem solid transparent;
  box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.2rem var(--dark-color-bg);
}

button.cta {
  background-color: var(--cta-color);
  color: white;
}

button.cta:focus {
  box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.2rem var(--cta-color);
}

#open_dialog {
  margin: 0 auto;
}

@media only screen and (max-width: 750px) {
  .infoimg {
    float: none;
  }
  .menu {
    display: flex;
    flex-direction: column;
  }
  nav a {
    float: none; /* Remove float for smaller screens */
    margin: 5px 0; /* Add vertical margin between links */
  }
  .menu {
    display: none;
  }

  nav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 50px;
    top: 20px;
  }
  .chili {
    width: 250px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 20px;
  }
  .hero-image {
    height: 200px;
  }
}
