* {
  margin: 0;
  padding: 0;
}

#vihrea {
  color: #004921;
}

#oranssi {
  color: #f88d22;
}

#pinkki {
  color: #ffbba6;
}

#valkoinen {
  color: #f5e1d1;
}

body {
  background-color: #f5e1d1;
  margin: auto;
  height: 100%;
  font-family: "DM Serif Display", serif;
}
main {
  background-color: #004921;
  margin: 200px auto;
  width: 90%;
  position: relative;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
nav {
  background-color: #004921;
  margin: auto;
  padding: auto;
  max-width: 90%;
  height: 4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 1.5rem;
}
nav a {
  background-color: #f5e1d1;
  float: right;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  transition: all 0.3s;
  margin: 5px;
  border-radius: 20px;
  letter-spacing: 1px;
  font-size: larger;
}
nav a:hover {
  color: #190f30;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.chili {
  width: 30%;
  max-width: 250px;
  position: absolute;
  right: 0;
  top: -100px;
}
.info {
  padding: 2rem;
  overflow: auto;
}
.infoimg {
  float: left;
  width: 40%;
  max-width: fit-content;
  min-width: 100px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: auto;
  margin: 0px 20px 10px 0;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h1 {
  float: left;
  padding-left: 1rem;
  font-size: 40px;
  text-shadow: 2px 2px 5px #f88d22;
}
h2 {
  margin: 0 10px 10px 0;
}
h3 {
  margin: 0 10px 10px 0;
}
footer {
  text-align: center;
  padding: 2rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
