* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --vihrea: #013317;
  --valkoinen: #f5e1d1;
  --pinkki: #ffbba6;
  --oranssi: #e88522;
}

body {
  background-color: var(--valkoinen);
  margin: auto;
  height: 100%;
  font-family: "DM Serif Display", serif;
}
main {
  background-color: var(--vihrea);
  margin: 200px auto;
  width: 90%;
  position: relative;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
nav {
  background-color: var(--vihrea);
  margin: auto;
  max-width: 90%;
  height: 6rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 1.5rem;
}
nav a {
  background-color: var(--valkoinen);
  color: var(--vihrea);
  float: right;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  margin: 5px;
  border-radius: 20px;
  letter-spacing: 1px;
  font-size: larger;
}
nav a:hover {
  color: var(--valkoinen);
  background-color: var(--vihrea);
  box-shadow: inset 100px 0 0 0 var(--oranssi);}
nav a:active {
  background-color: var(--valkoinen);
}
.chili {
  width: 200px;
  max-width: 250px;
  position: absolute;
  right: 0;
  top: -100px;
}
.info {
  padding: 2rem;
  overflow: auto;
}
.infoimg {
  float: left;
  width: 40%;
  max-width: fit-content;
  min-width: 100px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: auto;
  margin: 0px 20px 10px 0;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h1 {
  color: var(--pinkki);
  float: left;
  padding-left: 1rem;
  font-size: 40px;
  text-shadow: 2px 2px 5px var(--oranssi);
}
h2 {
  margin: 0 10px 10px 0;
  color: var(--valkoinen);
}
h3 {
  color: var(--valkoinen);
  margin: 0 10px 10px 0;
}
footer {
  text-align: center;
  padding: 2rem;
  bottom: 0;
  width: 100%;
}
p{
  color: var(--valkoinen);
}
